In [1]:
from __future__ import print_function
import pandas as pd
import numpy
pd.__version__

'0.22.0'

In [2]:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

In [3]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

cities = pd.DataFrame({ 'City name': city_names, 'Population': population })
print(cities)

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

In [4]:
print(cities["City name"])

0    San Francisco
1         San Jose
2       Sacramento
Name: City name, dtype: object

In [5]:
square_miles = pd.Series([46.87, 176.53, 97.92])
cities["Area square miles"] = square_miles
cities["Population density"] = cities['Population']/ cities['Area square miles']
cities

       City name  Population  Area square miles  Population density
0  San Francisco      852469              46.87        18187.945381
1       San Jose     1015785             176.53         5754.177760
2     Sacramento      485199              97.92         4955.055147

In [6]:
cities["Exercise 1"] = city_names.apply(lambda val : "San" in val) & square_miles.apply(lambda val: val > 50)

In [7]:
cities

,City name,Population,Area square miles,Population density,Exercise 1
0,San Francisco,852469,46.87,18187.945381,False
1,San Jose,1015785,176.53,5754.177760,True
2,Sacramento,485199,97.92,4955.055147,False

In [8]:
Term = pd.Series(["this","is","a","sample"])
Document1 = pd.DataFrame({"Term":Term})
Document1["TermCount"] = pd.Series([1,1,2,1])
Document1

     Term  TermCount
0    this          1
1      is          1
2       a          2
3  sample          1

In [9]:
newTerm = pd.Series(["this","is","another","example"])
Document2 = pd.DataFrame({"Term":newTerm})
Document2["TermCount"] = pd.Series([1,1,2,3])
Document2

      Term  TermCount
0     this          1
1       is          1
2  another          2
3  example          3

In [10]:
def tfidf(word,doc):
    wordcount = doc[doc["Term"] == word]["TermCount"]
    tf = wordcount / doc["TermCount"].sum()
    print(tf)
    df = 0
    print(df)
    if Document1["Term"].str.match(word).any():
        df+=1
    if Document2["Term"].str.match(word).any():
        df+=1
    print(df)
    idf = numpy.log10(2/df)
    tfidf = tf*idf
    return tfidf

In [13]:
tfidf("example",Document2)

3    0.428571
Name: TermCount, dtype: float64
0
1

3    0.129013
Name: TermCount, dtype: float64